@media (min-width: 40em) { /* tablet and desktop screens */
  .card {
    width: 40rem;
  }

  .card-custom {
    width: 35rem;
  }

  .img-profile {
    width: 100%;
    height: 38rem;
  }

  .inner-container {
    min-width: 600px;
    max-width: 60rem;
  }
}

@media (max-width: 40em) { /* mobile */
  .card {
    width: 18rem;
  }

  .card-custom {
    width: 17rem;
  }

  .img-profile {
    width: 16rem;
    height: 16rem;
  }

  .card-text-custom {
    max-width: 60%;
  }

  .inner-container {
    min-width: 300px;
    max-width: 80vw;
  }
  
}

.card-title-custom, .card-text-custom { /* from bootstrap components for extra styling */
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.card-text ul { /* from bootstrap components for extra styling */
  justify-content: left;
}

.img-carousel {
  max-width: 100%;
}

a {
  text-decoration: none!important;
}

.gitIcon {
  max-width: 30px;
}

.linkedinIcon {
  max-width: 20px;
}

/* two background colours */

.outer-container {
  background-color: rgba(223, 217, 250, 0.243)
}

.inner-container {
  background-color: hsl(0, 0%, 100%)!important;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.card-header {
  background-color: hsla(216, 98%, 52%, 0.049)!important;
  color: hsl(216, 98%, 52%)!important;
}

.card-body .card-title {
  color: hsl(216, 95%, 42%)!important;
}

.card-body .card .card-title {
  color: hsl(216, 98%, 52%)!important;
}

.card-body-custom { /* experience card background */
  background-color: hsla(216, 98%, 52%, 0.049)!important;
}

.card-header-custom { /* photo background */
  background-color: rgba(33, 37, 41, 0.03)!important;
}

.card-body .quote {
  color: hsl(216, 98%, 52%)!important;
}